{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}



<div class="base">

    <!-- Page -->
    <div class="page">
        <!-- Page Content-->
        <section class="section-padding gray-bg log-section">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card card-panel">
                            <h3 class="text-extrabold">Log in to your account</h3>
                            <form id="login-form" role="form" method="post" accept-char="UTF-8" autocomplete="off" data-parsley-validate>

                                <input type="hidden" name="_token" value="">
                               <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> #}
                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                {# <i class="fa fa-eye show-password"></i> #}

                                <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}">

                                <button class="btn btn-lg gradient secondary btn-block waves-effect waves-light mt-20 mb-20" type="submit">
                                    Login
                                </button>
                                <div class="links">
                                    <a href="#!">Forgot your password?</a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="card card-panel ptb-70 text-center">
                            <div class="promo-info">
                                <h1 class="text-uppercase mb-30 text-extrabold font-30">New to Luxury Services ?</h1>
                                <p class="width-60 mb-30">Joining us is allowing our recruitment expertise and personal guidance to bring the best out in you by choosing the most suited position.</p>
                                <a href={{ path("app_register") }} class="btn btn-lg gradient secondary waves-effect waves-light mt-20"><span>Sign-up<strong> Free</strong></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
                                </div>
{% endblock %}
