{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ candidat.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ candidat.lastName }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ candidat.adress }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ candidat.country }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ candidat.nationality }}</td>
            </tr>
            <tr>
                <th>BrithDate</th>
                <td>{{ candidat.brithDate ? candidat.brithDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>BirthPlace</th>
                <td>{{ candidat.birthPlace }}</td>
            </tr>
            <tr>
                <th>ShortDescription</th>
                <td>{{ candidat.shortDescription }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ candidat.createdAt ? candidat.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ candidat.updatedAt ? candidat.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ candidat.deletedAt ? candidat.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AdminNote</th>
                <td>{{ candidat.adminNote }}</td>
            </tr>
            <tr>
                <th>IsAvailable</th>
                <td>{{ candidat.isAvailable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidat_index') }}">back to list</a>

    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
